<html>
  <head>
    <style>body, form{margin: 0px;}</style>
  </head>
  <body>
    <%= form_tag simple_dragonfly_preview_upload_path, multipart: true, id: "image_preview_form" do %>
      <%= hidden_field_tag :retained_id, params[:retained_id] %>
      <%= hidden_field_tag :image_id, params[:image_id] %>
      <%= hidden_field_tag :resize, params[:resize] %>
      <%= hidden_field_tag :attribute_keys, params[:attribute_keys] %>
      <%= file_field_tag :image %>
    <% end %>
     
    <script type="text/javascript">
      //automatically submit the form
      document.getElementById("image").onchange = function() {
        // window.parent.document.getElementById("<%= params[:image_id] %>").src = "<%= image_path('loader.png')%>";
        document.getElementById("image_preview_form").submit();
      };
      
      <% if @image %>
        //update the retained image field
        window.parent.document.getElementById("<%= params[:retained_id] %>").value = "<%= @retained_image %>";
        window.parent.document.getElementById("<%= params[:image_id] %>").src = "<%= @image.thumb(@resize).url %>";
      <% end %>
    </script>
  </body>
</html>